

.parent {
  position: relative;
  height: 700px;
  width: 700px;
}
.image1{
  position:absolute;
  top: 25px;
  left: 25px;
  z-index: 1;
}
.image2{
  position:absolute;
  top: 25px;
  left: 25px;
  z-index: 2;

}
